.chart {
    flex: 4;
    -webkit-box-shadow: 2px 2px 10px 1px rgb(160, 191, 248); 
    box-shadow: 2px 2px 10px 1px rgb(160, 191, 248);
    padding: 10px;
    color: gray;
}

.title {
    margin-bottom: 20px;
}
  
.chartGrid {
    stroke: rgb(236, 234, 234);
}
  