.navbar{
    height: 200px;
    background-color: rgba(234,161,51,255);
    display: flex;
    justify-content: center;
    width: 103%;
  }
  
  .navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo{
    font-weight: 700;
    font-size: 30px;
    color: rgba(47,39,42,255);
    font-family: "Comic Sans MS";
  }
  
  .navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    background-color: rgba(207,85,51,255);
    color: white;
    width: 100px;
    height: auto;
  }

  #wrapper {
    display: flex;
    align-items: center;
  }
  
  img {
    width: 250px;
    height:auto;
  }